html { height: 100%; }

body {
  /* min-height: 100%; */
  background-color: #dadada;
  background-image: url("http://moviehole.net/img/killingJoke_53332ab7a92076.68058655.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: auto 100%;
}

/* This is a comment */
#intro {
  color: black;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.default {
  color: green;
  border: 1px solid black;
  height: 50px;
}

#special-one {
  font-size: 22px;
}

.text-center {
    text-align:center;
}
