* { box-sizing: border-box;}
#header {
      background-color: tomato;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 20%;
      margin: 1%;
}
#content {
      background-color: grey;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 70%;
      margin: 1%;
}

#footer {
      background-color: DodgerBlue;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 10%;
      margin: 1%;
}
