* { box-sizing: border-box;}
#header {
      background-color: tomato;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 20%;
      margin: 1%;
}
#content {
      background-color: grey;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 70%;
      margin: 1%;
}

#footer {
      background-color: DodgerBlue;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 10%;
      margin: 1%;
}

#left-content {
      background-color: lightgrey;
      color: black;
      padding: 2%;
      float: left;
      text-align: center;
      weight: 10%;
      margin: 1%;
      width: 18%;
}

#center-content {
      background-color: lightgrey;
      color: black;
      padding: 2%;
      float: left;
      text-align: center;
      weight: 10%;
      margin: 1%;
      width: 58%;
}

#right-content {
      background-color: lightgrey;
      color: black;
      padding: 2%;
      float: right;
      text-align: center;
      weight: 10%;
      margin: 1%;
      width: 18%;

}

.clearfix {
        clear:both;

}
